@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
::after ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Red Hat Display", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  background-image: url(../images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(225, 100%, 94%);
}

main {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-width: 340px;
  border-radius: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 9px 1px rgb(143, 143, 143);
}
main #card-image {
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
main .text-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  height: 70%;
  margin-top: 10px;
  padding-bottom: 10px;
}
main .text-section h2 {
  margin: 10px;
}
main .text-section p {
  margin: 7px 0px 15px 0;
  font-size: 13px;
  color: hsl(224, 23%, 55%);
}
main .text-section .title {
  font-weight: 700;
  color: black;
}
main .text-section span {
  color: hsl(224, 23%, 55%);
}
main .text-section .plan {
  display: flex;
  align-items: center;
  width: 95%;
  background-color: hsl(225, 100%, 98%);
  padding: 15px;
  border-radius: 8px;
  font-size: 13px;
}
main .text-section .plan a {
  flex-grow: 2;
  text-align: end;
  font-weight: 500;
  color: hsl(245, 75%, 52%);
}
main .text-section .plan a:hover {
  color: hsl(256, 100%, 65%);
  text-decoration: none;
}
main .text-section .plan .price {
  flex-grow: 1;
}
main .text-section .plan img {
  height: 40px;
  width: 40px;
}
main .text-section button {
  background-color: hsl(245, 75%, 52%);
  border: none;
  width: 100%;
  padding: 13px;
  color: white;
  font-weight: 800;
  border-radius: 8px;
  margin: 25px 0;
}
main .text-section button:hover {
  background: hsl(256, 100%, 65%);
  box-shadow: 1;
  box-shadow: 0px 0px 5px 1px hsl(256, 100%, 81%);
  cursor: pointer;
}

.bg {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
}

.bg:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }
  main {
    width: 250px !important;
    min-width: 0;
  }
  main .text-section h2 {
    font-size: 18px;
  }
  main .text-section p {
    font-size: 9px !important;
  }
  main .text-section button {
    font-size: 9px;
  }
  main .text-section .plan {
    font-size: 9px !important;
  }
  main .text-section .plan img {
    height: 25px;
    width: 25px;
  }
  .bg {
    font-size: 9px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */